<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fffcd7">  <td>21/05/20 12:32:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetData.citiNotFound(java.lang.String, java.lang.String)[pri:0, instance:weatherReportRequest.GetData@2758fe70]">citiNotFound</td> 
  <td>main@32863545</td>   <td></td> </tr>
<tr bgcolor="fffcd7">  <td>21/05/20 12:32:51</td>   <td>4590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetData.city_Not_Unique(java.lang.String)[pri:0, instance:weatherReportRequest.GetData@2758fe70]">city_Not_Unique</td> 
  <td>main@32863545</td>   <td></td> </tr>
<tr bgcolor="fffcd7">  <td>21/05/20 12:32:52</td>   <td>5036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetData.invalid_API_key(java.lang.String, java.lang.String)[pri:0, instance:weatherReportRequest.GetData@2758fe70]">invalid_API_key</td> 
  <td>main@32863545</td>   <td></td> </tr>
<tr bgcolor="fffcd7">  <td>21/05/20 12:32:47</td>   <td>-54</td> <td>&nbsp;</td><td title="&gt;&gt;GetData.setproperty()[pri:0, instance:weatherReportRequest.GetData@2758fe70]">&gt;&gt;setproperty</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@32863545</td>   <td></td> </tr>
<tr bgcolor="fffcd7">  <td>21/05/20 12:32:52</td>   <td>5342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetData.testCountryId(java.lang.String, java.lang.String)[pri:0, instance:weatherReportRequest.GetData@2758fe70]">testCountryId</td> 
  <td>main@32863545</td>   <td></td> </tr>
</table>
